<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
        integrity="sha256-imWjOiEEAcjWdL1+inhBu1dWYFyXuiO9vpJVEQd3y/c=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/styles/fonts.css" media="screen" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/styles/main.min.css" media="screen" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K8KWHPC');</script>
    <!-- End Google Tag Manager -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/5.0.0/firebase-ui-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/5.0.0/firebase-ui-auth.css" />
    <style>
        #snow {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            z-index: 1000;
        }
    </style>
</head>

<body style="font-family: 'HK Grotesk', sans-serif; background-color: ghostwhite;" x-data="{
		modal: false,
		mobileMenu: false,
		mobileSearch: false,
		mobileCart: false,
		}" :class="{ 'overflow-hidden max-h-screen': modal || mobileMenu }" @keydown.escape="modal = false">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8KWHPC" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {%- if data.banner.message != '' -%}
    <div class="text-center bg-primary">
        <p class="text-white font-semibold px-8 py-4">{{ data.banner.message }}</p>
    </div>
    {%- endif -%}
    <div id="main">
        <div class="container relative">
            <div class="shadow-xs py-6 lg:py-10 z-50 relative">
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <div class="block lg:hidden">
                            <i class="bx bx-menu text-primary text-4xl" @click="mobileMenu = !mobileMenu"></i>
                        </div>
                        <button @click="mobileSearch = true"
                            class="cursor-pointer border-2 transition-colors border-transparent hover:border-primary rounded-full p-2 sm:p-4 ml-2 sm:ml-3 md:ml-5 lg:mr-8 group focus:outline-none">
                            <img src="/assets/img/icons/icon-search.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 block group-hover:hidden"
                                alt="icon search" />
                            <img src="/assets/img/icons/icon-search-hover.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 hidden group-hover:block"
                                alt="icon search hover" />
                        </button>
                        <a href="/wishlist"
                            class="border-2 transition-all border-transparent hover:border-primary rounded-full p-2 sm:p-4 group hidden lg:block">
                            <img src="/assets/img/icons/icon-heart.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 block group-hover:hidden" alt="icon heart" />
                            <img src="/assets/img/icons/icon-heart-hover.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 hidden group-hover:block"
                                alt="icon heart hover" />
                        </a>
                    </div>
                    <a href="/">
                        <img src="/assets/img/logo.png" class="w-28 sm:w-48 h-auto" alt="logo" />
                    </a>
                    <div class="flex items-center">
                        <a @click="logIn()"
                            class="cursor-pointer border-2 transition-all border-transparent hover:border-primary rounded-full p-2 sm:p-4 group">
                            <img src="/assets/img/icons/icon-user.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 block group-hover:hidden" alt="icon user" />
                            <img src="/assets/img/icons/icon-user-hover.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 hidden group-hover:block"
                                alt="icon user hover" />
                        </a>
                        <a href="/cart/"
                            class="hidden lg:block border-2 transition-all border-transparent hover:border-primary rounded-full p-2 sm:p-4 ml-2 sm:ml-3 md:ml-5 lg:ml-8 group">
                            <img src="/assets/img/icons/icon-cart.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 block group-hover:hidden" alt="icon cart" />
                            <img src="/assets/img/icons/icon-cart-hover.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 hidden group-hover:block"
                                alt="icon cart hover" />
                        </a>
                        <a href="/cart/"
                            class="block lg:hidden border-2 transition-all border-transparent hover:border-primary rounded-full p-2 sm:p-4 ml-2 sm:ml-3 md:ml-5 lg:ml-8 group">
                            <img src="/assets/img/icons/icon-cart.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 block group-hover:hidden" alt="icon cart" />
                            <img src="/assets/img/icons/icon-cart-hover.svg"
                                class="w-5 sm:w-6 md:w-8 h-5 sm:h-6 md:h-8 hidden group-hover:block"
                                alt="icon cart hover" />
                        </a>
                    </div>
                    <div class="hidden">
                        <i class="bx bx-menu text-primary text-3xl" @click="mobileMenu = true"></i>
                    </div>
                </div>
                <div class="justify-center lg:pt-8 hidden lg:flex">
                    <ul class="list-reset flex items-center">
                        <li class="mr-10">
                            <a href="/"
                                class="block text-lg font-hk hover:font-bold transition-all text-secondary hover:text-primary border-b-2 border-transparent hover:border-primary px-2">Home</a>
                        </li>
                        <li class="mr-10">
                            <a href="/collections"
                                class="block text-lg font-hk hover:font-bold transition-all text-secondary hover:text-primary border-b-2 border-transparent hover:border-primary px-2">Collections</a>
                        </li>
                        <li class="mr-10">
                            <a href="/contact#faq"
                                class="block text-lg font-hk hover:font-bold transition-all text-secondary hover:text-primary border-b-2 border-transparent hover:border-primary px-2">FAQ</a>
                        </li>
                        <li class="mr-10">
                            <a href="/contact"
                                class="block text-lg font-hk hover:font-bold transition-all text-secondary hover:text-primary border-b-2 border-transparent hover:border-primary px-2">Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fixed inset-x-0 pt-20 md:top-28 z-50 opacity-0 pointer-events-none transition-all "
            :class="{ 'opacity-100 pointer-events-auto': mobileMenu }">
            <div class="w-full sm:w-1/2 absolute left-0 top-0 px-6 py-3 z-40 bg-white shadow-sm">
                <a href="/"
                    class="w-full py-3 cursor-pointer font-hk font-medium text-secondary border-b border-grey-dark block ">Home
                </a>
                <a href="/wishlist"
                    class="w-full py-3 cursor-pointer font-hk font-medium text-secondary border-b border-grey-dark block">Wishlist
                </a>
                <a href="/collections"
                    class="w-full py-3 cursor-pointer font-hk font-medium text-secondary border-b border-grey-dark block">Collections
                </a>
                <a href="/contact#faq"
                    class="w-full py-3 cursor-pointer font-hk font-medium text-secondary border-b border-grey-dark block">FAQ
                </a>
                <a href="/contact" class="w-full py-3 cursor-pointer font-hk font-medium text-secondary block"
                    :class="[!(getCookie('uid') && !getCookie('isAnonymous')) ? 'border-b border-grey-dark' : '']">Contact
                </a>
                <div class="mt-4 mb-2" x-show="!(getCookie('uid') && !getCookie('isAnonymous'))">
                    <a @click="logIn()" class="btn btn-primary w-full" aria-label="Login button">Login Account</a>
                </div>
            </div>
        </div>
        <div class="absolute inset-x-0 z-50 top-20 lg:top-28" x-show="mobileSearch" @click.away="mobileSearch = false"
            x-cloak>
            <div class="container">
                <div class="w-full sm:w-1/2 lg:w-1/4 z-10 bg-white shadow-sm rounded">
                    <form action="/search" class="border border-grey-dark px-4 py-3 rounded-md flex items-center">
                        <input type="text" name="s"
                            class="font-hk font-medium text-secondary outline-none border-grey-dark w-full placeholder-grey-darkest focus:ring focus:ring-primary focus:outline-none focus:border-primary"
                            placeholder="Enter product code" required />
                        <button class="flex items-center focus:outline-none focus:border-transparent">
                            <i class="bx bx-search text-primary text-xl ml-4"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {{ content | safe }}
        <div id="login-modal" class="fixed inset-0 z-100 flex justify-center hidden"
            style="background-color: rgba(0,0,0,0.5)" x-ref="loginModal" x-cloak>
            <!--Dialog-->
            <div class="bg-white w-11/12 md:max-w-2xl m-auto rounded shadow-lg px-6 py-6 text-left">

                <!--Title-->
                <div class="flex justify-between pb-3">
                    <div id="login-modal-title" class="flex-1 font-hkbold text-secondary text-2xl text-center py-4">
                        Login or Create an Account
                    </div>
                    <div class="cursor-pointer z-50" @click="$refs.loginModal.style.display = 'none'">
                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                            viewBox="0 0 18 18">
                            <path
                                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                            </path>
                        </svg>
                    </div>
                </div>

                <!-- content -->
                <div id="firebaseui-loading" class="flex justify-center items-center pt-10 pb-16">
                    <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-primary"></div>
                </div>
                <div id="firebaseui-container" class="hidden"></div>

            </div>
            <!--/Dialog -->
        </div><!-- /Overlay -->

        <div class="mt-8 bg-center bg-no-repeat bg-cover" style="background-image:url(/assets/img/bg-footer.png)">
            <div class="container py-16 sm:py-20 md:py-24">
                <div class="w-5/6 mx-auto flex flex-col lg:flex-row justify-between">

                    <div class="text-center lg:text-left lg:w-1/3">
                        <h4 class="font-hk font-bold text-white text-xl pb-8">Contact</h4>
                        <ul class="list-reset">
                            <li class="pb-2 block">
                                <a href="mailto:holicolourscustomercare@gmail.com"
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">holicolourscustomercare@gmail.com</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="tel:+918778876584"
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">+918778876584</a>
                            </li>
                            <li class="pb-2 block">
                                <div class="flex items-center justify-center lg:justify-start">
                                    <a href="https://www.instagram.com/holi_colours_jewel/" class="group">
                                        <div
                                            class="bg-white group-hover:bg-primary rounded-full px-2 py-2 flex items-center mr-5 transition-colors">
                                            <i
                                                class="bx bxl-instagram text-secondary transition-colors group-hover:text-white"></i>
                                        </div>
                                    </a>
                                    <a href="https://www.facebook.com/profile.php?id=100075692184488" class="group">
                                        <div
                                            class="bg-white group-hover:bg-primary rounded-full px-2 py-2 flex items-center transition-colors">
                                            <i
                                                class="bx bxl-facebook text-secondary transition-colors group-hover:text-white"></i>
                                        </div>
                                    </a>
                                    <!-- <a href="https://www.google.com" class="group">
                                        <div
                                            class="bg-white group-hover:bg-primary rounded-full px-2 py-2 flex items-center mr-5 transition-colors">
                                            <i
                                                class="bx bxl-pinterest text-secondary transition-colors group-hover:text-white"></i>
                                        </div>
                                    </a>
                                    <a href="https://www.google.com" class="group">
                                        <div
                                            class="bg-white group-hover:bg-primary rounded-full px-2 py-2 flex items-center mr-5 transition-colors">
                                            <i
                                                class="bx bxl-youtube text-secondary transition-colors group-hover:text-white"></i>
                                        </div>
                                    </a> -->
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="text-center lg:text-left lg:w-1/5 pt-6 lg:pt-0">
                        <h4 class="font-hk font-bold text-white text-xl pb-8">Shop by Category</h4>
                        <ul class="list-reset">
                            <li class="pb-2 block">
                                <a href="/collections/golden-jewelry/"
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Golden
                                    Jewellery</a>
                            </li>
                            <!-- <li class="pb-2 block">
                                <a href=""
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Necklace</a>
                            </li>
                            <li class="pb-2 block">
                                <a href=""
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Haram</a>
                            </li>
                            <li class="pb-2 block">
                                <a href=""
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Chocker</a>
                            </li>
                            <li class="pb-2 block">
                                <a href=""
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Bangle</a>
                            </li>
                            <li class="pb-2 block">
                                <a href=""
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Hipbelt / Hipchain</a>
                            </li>
                            <li class="pb-2 block">
                                <a href=""
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Tikka</a>
                            </li>
                            <li class="pb-2 block">
                                <a href=""
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Other Accessories</a>
                            </li> -->
                            <li class="pb-2 block">
                                <a href="/collections/silver-jewelry/"
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Silver
                                    Jewellery</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/collections/artificial-diamonds/"
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Artificial
                                    Diamonds</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/collections/others/"
                                    class="font-hk text-white transition-colors hover:text-primary text-base tracking-wide">Others</a>
                            </li>
                        </ul>
                    </div>

                    <div class="text-center lg:text-left lg:w-1/5 pt-6 lg:pt-0">
                        <h4 class="font-hk font-bold text-white text-xl pb-8">Information</h4>
                        <ul class="list-reset">
                            <li class="pb-2 block">
                                <a href="/about/"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">About
                                    Us</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/contact/"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">Contact
                                    Us</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/contact/#faq"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">Frequently
                                    Asked Questions</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/careers/"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">Careers</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/sustainability/"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">Sustainability</a>
                            </li>
                        </ul>
                    </div>

                    <div class="text-center lg:text-left lg:w-1/5 pt-6 lg:pt-0">
                        <h4 class="font-hk font-bold text-white text-xl pb-8">Quick Links</h4>
                        <ul class="list-reset">
                            <li class="pb-2 block">
                                <a href="/shipping-and-delivery/"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">Shipping
                                    & Delivery</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/terms-and-conditions/"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">Terms
                                    & Conditions</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/size-chart/"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">Size
                                    Chart</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/jewellery-care/"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">Jewellery
                                    Care</a>
                            </li>
                            <li class="pb-2 block">
                                <a href="/return-refund-and-exchange-policy/"
                                    class="font-hk transition-colors text-white hover:text-primary text-base tracking-wide">Return,
                                    Refund & Exchange Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="container py-8 border-t border-grey-darker {% if title == 'Checkout | Holi Colours Jewellery' %}hidden{% endif %} sm:block">
            <p class="font-hk text-secondary text-base text-center">
                All rights reserved © {{data.currentYear}}. Designed & Developed by
                <a href="" target="_blank" class="text-primary">Magesh S</a>.
            </p>
        </div>

        <div id="btnBackToTop"
            class="shadow-lg rounded-full fixed bg-primary bottom-12 right-12 z-30 cursor-pointer group hidden">
            <div class="h-16 w-16 flex items-center justify-center">
                <i class="bx bx-up-arrow-alt text-white text-3xl leading-none"></i>
            </div>
        </div>
    </div>
    <div id="snow"></div>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/glide.min.js"
        integrity="sha256-CnNQJd80jPuIDyeQRRq7+Wgt+++Kl0dZLt4ETNmxMIw=" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.core.min.css"
        integrity="sha256-Ev8y2mML/gGa4LFVZgNpMTjKwj34q4pC4DcseWeRb9w=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.theme.min.css"
        integrity="sha256-sw/JiPOV1ZfcXjqBJT1vqaA4vBGeiqn+b7PDhVv4OA4=" crossorigin="anonymous" />
    <script src="/assets/js/database.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.x.x/dist/alpine.min.js" defer></script>
</body>

</html>