html
  head
    style table, th, td {border: 1px solid black;}
  body
    div(marginwidth="0" marginheight="0" style="padding:0") 
      p Hi Holi Colours,
      p The following products are having stocks equal to or below 5.
      table
        thead
          tr
            th PID
            th Product Name
            th Variant
            th Stock
        tbody
          each i in Object.keys(products)
            tr
              td #{products[i].pid}
              td #{products[i].productName}
              td #{products[i].variant}
              td #{products[i].stock}
      p Thanks,
      p Invenory Management System
